@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*--------------------------------------------------------------
  # Bootstrap icon bold
  --------------------------------------------------------------*/

.force-bi-bold-05 {
  -webkit-text-stroke-width: .5px;
}

.force-bi-bold-1 {
  -webkit-text-stroke-width: 1px;
}

.force-bi-bold-1-5 {
  -webkit-text-stroke-width: 1.5px;
}

.force-bi-bold-2 {
  -webkit-text-stroke-width: 2px;
}

.avatar-modern-rounded {
  border-radius: 65px;
}